@model JordanToursim.Models.Partner

@{
    ViewBag.Title = "Partner";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}






<style>
    .form-control {
        border-radius: 25px !important;
    }

    .form{
        padding-left:40px;
    }

</style>


<!--Show sucess message-->
@{
    var state = Session["successPartner"];
    if (state == "true")
    {
        Session["successPartner"] = "false";
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function JSalert() {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Added successfully',
                    showConfirmButton: false,
                    timer: 2000
                })
            }
            JSalert();
        </script>

    }

}
<!--end of the message-->
<div class="form">
    <h2>Partner</h2>

    @using (Html.BeginForm("Partner", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Partner</h4>
            <hr />

            <p style="text-align:right; padding-right:15%">Number of Partners: <b>@ViewBag.PartnerNumbers</b> </p>


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <div class="form-group">
                @Html.HiddenFor(m => m.Participant_ID)
            </div>

            <div class="form-group">
                @Html.HiddenFor(m => m.Id)
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.PartnerName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PartnerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PartnerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PartnerNationalNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PartnerNationalNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PartnerNationalNumber, "", new { @class = "text-danger" })
                </div>


            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PartnerBirthDay, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PartnerBirthDay, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PartnerBirthDay, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PartnerIdentityImg, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="IdentityPartner" name="IdentityPartner" class="form-control" enctype="multipart/form-data" required accept="image/png, image/jpeg" />
                    @Html.ValidationMessageFor(model => model.PartnerIdentityImg, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>



@section Scripts
 {
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/ui-lightness/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>
        $("input[type='file']").on("change", function () {
            if (this.files[0].size > 2000000) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Attention',
                    text: 'file too big, please upload Image less than 2mb',
                })
                $(this).val('');
            }
        });
    </script>


}