@model JordanToursim.Models.Trip

@{
    ViewBag.Title = "Delete";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <style>
        body {
            scroll-behavior: smooth;
        }

        .container body-content {
            width: 1200px;
        }
        /*media qoures to display on mobile*/
        @@media (max-width:700px) {
            .imgCover {
                background-image: url('../../Images/TempPic/DeletePic.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: -70px 0 -70px 0;
                padding: 60px 0 0 0;
                margin-right: 0px;
                width: 395px;
            }

            .body-content {
                width: 400px;
                padding-left: 0;
                padding-right: 0;
            }

            .form-horizontal .form-group {
                margin-right: 15px;
                margin-left: 15px;
                color: #f2f2f2c7;
            }

            .container {
                padding-right: 0;
                padding-left: 0;
                margin-right: 0;
                margin-left: 0;
            }

            .bottomButtons {
                float: right;
                padding-right: 20px
            }

            .imgCover .form-horizontal .Headerspace {
                height: 20px;
                max-height: 20px;
            }

            #submitTrip {
                visibility: visible !important;
                float: left;
            }
        }
        /*end of mobile view*/



        /*media qoures to display on desktop & laptop*/
        @@media (min-width:1000px) { /* big landscape tablets, laptops, and desktops */
            .imgCover {
                background-image: url('../../Images/TempPic/DeletePic.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: -20px -40px 0px 0;
                height: 700px;
            }

            .container body-content {
                width: 1400px;
            }

            .imgCover .form-horizontal .Headerspace {
                height: 140px;
                max-height: 140px;
            }

            .dl-horizontal {
                padding: 20px;
            }

            dt, dd {
                display: block;
                float: left;
                margin-top: 15px;
            }
            /*glore button effect*/

            #submitTrip {
                text-decoration: none;
                color: #fff;
                background: rgba(57, 47, 46, .9);
                padding: 15px 40px;
                border-radius: 4px;
                font-weight: normal;
                text-transform: uppercase;
                transition: all 0.2s ease-in-out;
            }

                #submitTrip:hover {
                    color: rgba(255, 255, 255, 1);
                    background: rgba(209, 26, 42, 1);
                    box-shadow: 0 5px 15px rgba(219, 26, 42, .7);
                }
            /*end of effect*/
        }
        /*end of laptop view*/
    </style>
</head>



<!--Show sucess message-->
@{
    var state = Session["successDelete"];
    if (state == "true")
    {
        Session["successDelete"] = "false";
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function JSalert() {
                Swal.fire({
                    title: 'Sucess!', 
                    imageUrl: '../../Images/TempPic/sucessAlert.png',
                    imageWidth: 350,
                    imageHeight: 220,
                    imageAlt: 'Custom image',
                    confirmButtonColor: '#3cd63c',
                });
            }
            JSalert();
        </script>

    }

}
<!--end of the message-->

<div class="imgCover">
    <h1 class="PageTitle" style="font-weight: 600; font-size: 2.5em; color: #d11a2a; margin-left: 40px !important">Delete Page</h1>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Trip_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip_Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip_Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip_Date_Time_From)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip_Date_Time_From)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip_Date_Time_To)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip_Date_Time_To)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip_Capacity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip_Capacity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Department_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ticket_Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ticket_Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip_Image_web)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip_Image_web)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip_Image_phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip_Image_phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsPublished)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsPublished)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BusMovement)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BusMovement)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lunch)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lunch)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OvernightStay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OvernightStay)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TouristGuide)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TouristGuide)
            </dd>

        </dl>


    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button type="submit" value="Delete" id="submitTrip" class="glow-button btn btn-info btn-circle btn-lg" style="width: 50px; height: 50px; padding: 10px 16px; font-size: 18px; line-height: 1.33; border-radius: 50%;"><i class="fa fa-trash" aria-hidden="true"></i></button> |
    </div>

}                          @Html.ActionLink("Back to List", "Index")




@section Scripts {

    <!--Date picker to prevent diffrent between start and end data + make sure trip date start from today-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
            type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/ui-lightness/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>



    <script type="text/javascript">

        //photo fadeIn effect
        $(document).ready(function () {

            $(".imgCover").hide().fadeIn();
            $("#submitTrip").hide();
        });

        //end of effect

        //hide/show submit button on scroll
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 50)
                $("#submitTrip").css("visibility", "visible").delay("2000").css("opacity", 90);
            else
                $("#submitTrip").css("visibility", "hidden").css("opacity", 50).fadeIn("fast");
        });
        //end of scroll


        //Title head Animation
        var textWrapper = document.querySelector('.PageTitle');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.PageTitle .letter',
                opacity: [0, 2],
                easing: "easeInOutQuad",
                duration: 2250,
                delay: (el, i) => 170 * (i + 1)
            }).add({
                targets: '.PageTitle',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000
            });
        //end of Animation



    </script>
}






